# Database
DATABASE_URL=postgresql://neondb_owner:npg_2UtZlaV3noGX@ep-plain-flower-b3dv6m5j-pooler.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# CORS
CORS_ORIGIN=http://localhost:3000

# API-Football (v3)
API_FOOTBALL_KEY=8e21f51a2ae8000510eddc10650ec8f0
API_FOOTBALL_BASE_URL=https://v3.football.api-sports.io

# Logging
LOG_LEVEL=INFO